.btn {
    margin: 0 auto ;
    font-size: 30px;
    color: rgb(119, 224, 210);
    border: 3px solid rgb(119, 224, 210);
    background-color: rgb(245, 247, 249);
    border-radius: 30px;
    padding: 5px;
    padding-inline: 50px;
    width: 80px;
    box-shadow: 5px 5px black;
}
.row{
    display: flex;
    height: 200px;
    width: 100%;


}
.col{
    flex: 1;
    background-color: rgb(217, 221, 15);

}
.col-2{
    flex: 2;
    background-color: rgb(33, 139, 174);
}
.col-3{
    flex: 3;
    background-color: rgb(156, 23, 151);
}
.col,.col-2,.col-3{
    height: 100px;
    margin: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.nav{
    margin: 0 auto;
    height: 100px;
    color: white;
    background-color: rgb(158, 155, 155);
    display: flex;
    justify-content: space-between;
}
.nav-title{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.nav-links{
    width: 800px;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: white;
}
.btn2{
    width: 200px;
    box-shadow: 5px 5px black;
    margin: 0 auto;   
    font-size: 30px;
    border: 3px solid black;
    background: #3472ee;
    color: white;
    padding: 5px;
    padding-inline: 30px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.User{
    height: 85px;
    margin: 30px;
    margin-top: -50px;
    padding: 3px;
    background-color: white;
    border: 2px solid rgb(180, 175, 175);
    border-radius: 50px;
}
.Location{
    height: 20px;
}
h1{
    font-size: 40px;
    margin-top: -40px;
    margin-left: 25px;
}
p{
    display: inline-block;
    margin-left: 10px;
}
#Container2{
    width: 700px;
    margin: 0 auto;
    padding-top: 2px;
}
#banner{
    height: 100px;
    background-color: rgb(17, 153, 174);
}
.context{
    margin-top: -30px;
    margin-left: 25px;
}
.Gear{
    margin-top: -30px;
    margin-left: 25px;
    margin-top: 15px;
    height: 15px;
}
label{
    margin-top: -30px;
    margin-left: 25px;
}
a{
    margin-top: -30px;
    margin-left: 5px;
    color: rgb(14, 63, 161);
}
.container3{
    height: 240px;
    border-top: 0px;
    border-left: 2px solid rgb(200, 192, 192);
    border-right: 2px solid rgb(200, 192, 192);
    border-bottom: 2px solid rgb(200, 192, 192);
}
